{{#partial "content" }}
	<div class="row">
		<div class="column small-4">
			<div class="callout success">
				<h2>20,000,000</h2>
				<h4>Active</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout warning">
				<h2>9,828</h2>
				<h4>Suspended</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout alert">
				<h2>7,356</h2>
				<h4>Closed</h4>
			</div>
		</div>
	</div>
{{/partial}}

{{> layout}}