{{#partial "content" }}
	<h3>Accounts</h3>
	<div class="row">
		<div class="column small-4">
			<div class="callout success">
				<h2>20,000,000</h2>
				<h4>Active</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout warning">
				<h2>9,828</h2>
				<h4>Suspended</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout alert">
				<h2>7,356</h2>
				<h4>Closed</h4>
			</div>
		</div>
	</div>
	<h3>Properties</h3>
	<div class="row">
		<div class="column small-4">
			<div class="callout success">
				<h2>21,000,007</h2>
				<h4>Active</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout warning">
				<h2>1,239</h2>
				<h4>Suspended</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout alert">
				<h2>8,356</h2>
				<h4>Closed</h4>
			</div>
		</div>
	</div>
	<h3>Users</h3>
	<div class="row">
		<div class="column small-4">
			<div class="callout success">
				<h2>35,000,000</h2>
				<h4>Active</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout warning">
				<h2>11,828</h2>
				<h4>Suspended</h4>
			</div>
		</div>
		<div class="column small-4">
			<div class="callout alert">
				<h2>17,356</h2>
				<h4>Closed</h4>
			</div>
		</div>
	</div>

{{/partial}}

{{> layout}}